body {
    font-family: sans-serif;
    color: rgb(156, 34, 34);;
}

label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

h3 {
    margin-left: 15px;
}


.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}
/* Если просто скрыть её через display: none; то при управлении ТАБ-ом в браузере элемент не сможет быть выбран
последние 2 параметра указаны чтобы в огнелисе она точно не отобразилась */

.custom-radio {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 3px solid rgb(156, 34, 34);
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    vertical-align: text-top;
}

.custom-radio::before {
    content: "";

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(190, 25, 25);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    /* display: none; */

}


.real-radio.real-radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
    transition: .2s ease-in;
    /* display: inline-block; */
}
/* Когда выбрана (checked) реальная, отображается кастомная
 два двоеточия — это псевдоэлемент, а одно — псевдокласс (как :hover).   */



 /*______________ ЧЕКБОКСЫ______________ */

.checkbox-title {
    color: #22538b;
}

 .real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
	box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid #7e9bbd;
    border-radius: 4px;
    vertical-align: sub;

    position: relative;
}

.custom-checkbox::before {
    content: "";

    /* рисуем галочку */
    display: inline-block;
    width: 13px;
    height: 13px;

    background-image: url("../img/check.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); /*scale 0 чтобы спрятать */
    margin-top: 1px;

    transition: 0.2s ease-in;
}

/*активация кастомного чекбокса */ 

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}